@keyframes pulsate {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: #f7f7f7;
    }
    100% {
      background-color: #fff;
    }
  }
  
  .login_animations {
    animation: pulsate 2s infinite;
  }