* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    background-color: white;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.navbar{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navbar_list{
    flex: 1;
    text-align: right;
}
.navbar_list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
li{
    display: flex;
    padding-left: 30px;
    display: inline;
}
li a{
    text-decoration: none;
}
li a:hover,
li a:active{
    color: rgb(214, 11, 11);
    text-decoration: underline;
}

.hamburger-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
    .navbar_list{
        display: none;
    }
    li{
        display: block;
    }
    .mobile_navbar{
        
    }
    .hamburger-menu{
        display: block;
        text-align: right;
    }
    .navbar_list_mobile{
        margin-left: 65%;
        width: 30%;
        display: block;
        position: static;
        padding: auto;
        text-align: right;
    }
    li a{
        display: block;
        padding-right: 10px;
        
    }
    li a:hover,
    li a:active{
        color: rgb(214, 11, 11);
        text-decoration: underline;
    }
}

