* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    background-color: white;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.navbar{
    height: 116px;
    background-color: white;
    display: block;
    position: static;
}
ul{
    display: inline;
}
.navbar_list{
    margin-top: 17px;
    margin-left: 900px;
    padding-left: 30px;
}
li{
    display: flex;
    padding-left: 30px;
    display: inline;
}
li a{
    text-decoration: none;
}
li a:hover,
li a:active{
    color: rgb(214, 11, 11);
    text-decoration: underline;
}

.hamburger-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
    .navbar_list{
        display: none;
    }
    li{
        display: block;
    }
    .mobile_navbar{
        
    }
    .hamburger-menu{
        display: block;
        margin-left: 20%;
    }
    .navbar_list_mobile{
        display: block;
        position: static;
        padding: auto;
    }
    li a{
        text-decoration: none;
        
    }
    li a:hover,
    li a:active{
        color: rgb(214, 11, 11);
        text-decoration: underline;
    }
}


