button{
    background-color: #b5ddbd;
    border: none;
    text-decoration: none;
    font-weight:600;
    text-align: right;
    height: 24px;
    border-radius: 5px;
    padding: auto;
}

button:hover{
    background-color: rgb(209, 236, 214);
}