.details{
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 5px;
    background-color: #EAF5E4;
    text-align: left;
    border-radius: 12px;
}

.title{
    padding-top: 10px;
    font-weight: 800;
}

.company{
    padding-top: 6px;
    padding-bottom: 6px;
}

.font_size{
    font-weight: 600;
    font-family: 'Labrada', serif;
}

.amount{
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.date{
    font-family: 'Charmonman', cursive;
}

p{
    padding-left: 10px;
}


