.job_list_left_container{
    background-color: #F1FFE5;
    width: 33%;
    margin-left: 0;
    position: absolute;
    padding: 10px;
}
.job_details{
    background-color: #F1FFE5;
    margin-left: 35%;
    position: absolute;
    padding: 10px;
}