*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.profile__left{
    background-color: #b3bcc8 ;
    width: 19%;
    height: 80%;
    border-radius: 20px;
    margin-left: 1%;
    position: absolute;
}

.profile__right{
    background-color: #D0E7D9;
    width: 80%;
    position: absolute;
    margin-left: 21%;
}

.profile__right h3{
    font-family: sans-serif;
    padding-top: 12px;
    color: #568B65;
    font-weight: 600;
}

/* background-color: #F1FFE5;
width: 20%;
margin-left: 80%;
position: absolute; */