.Recent_Qn{
    width: 23%;
    background-color: #D0E7D9;
    position: absolute;
    margin-left: 6px;
    text-align: left;
}

.heading_recent{
    text-align: center;
}

.recent_qn_list{
    margin-left: 5px;
}

.Questions{
    width: 73.6%;
    background-color: #F1FFE5;
    position: absolute;
    margin-left: 25.5%;
    padding: 28px;
}



/* @media screen and (max-width: 768px) {
    .Recent_Qn{
        display: none;
    }
    
    .Questions{
        width: 100%;
        background-color: #F1FFE5;
        position: absolute;
        margin-left: 0;
        padding: 28px;
    }
} */
@media screen and (max-width: 768px) {
    .Recent_Qn {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    position: static;
    }
    
    .Questions {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    position: static;
    background-color: #D0E7D9;
    }
    
    .recent_qn_list {
    margin-left: 0;
    }
    
    .heading_recent {
    text-align: left;
    margin-left: 5px;
    }
    }