.qn_wrapper{
    background-color: #DAE6CF;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 1.5%;
}


.answer_img{
    margin-top: 0.4%;
    margin-left: 0.6%;
    height: 6%;
    width: 4%;
    position: absolute;
}

.solver_identity{
    position: relative;
    /* background-color: #C1E3B5; */
    /* width: 10%; */
    border-radius: 10px;
}

.solver{
    font-weight: 600;
    padding: 0;
    margin-left: 5%;
    margin-top: 0;
}

.solver_designation{
    padding: 0;
    margin-left: 5%;   
    margin-top: -8px;
    font-size: smaller;
}

.qn_title{
    padding-top: 15px;
    font-weight: 700;
    
}

.qn_answering{
    margin: auto;
    padding: 0 0 6px 10px;
    font-weight: 600;
    text-align: left;
}

.answer{
    text-align: left;
    padding: 0 10px 0 10px;
}

.qn_topic{
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
.ans_title{
    font-weight: 700;
}
.report_qn{
    background-color: #d8ebd2;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 5px;
}

.likebutton{
    margin-left: 8px;
}

.likes,.report_qn_details{
    display: inline-block;
    margin-left: 20px;
}


@media screen and (max-width:768px) { 
    .answer_img{
        margin-top: 0.4%;
        margin-left: 6%;
        width: 10%;
        float: right;
    }
    
    .solver_identity{
        margin-top: 1.5%;
        margin-left: 20%;
        background-color: #C1E3B5;
        width: 20%;
        border-radius: 10px;
    }
    
    .solver{
        font-weight: 600;
        padding: 0;
        margin-left: 5%;
        margin-top: 0;
    }
    
    .solver_designation{
        padding: 0;
        margin-left: 5%;   
        margin-top: -8px;
        font-size: smaller;
    }
    
    .qn_answering{
        padding-top: 15px;
        font-weight: 700;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .answer{
        margin-left: 2%;
        margin-right: 2%;
    }
}