.qn_wrapper{
    background-color: #DAE6CF;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 1.5%;
}


.answer_img{
    margin-top: 0.4%;
    margin-left: 0.6%;
    height: 6%;
    width: 4%;
    position: absolute;
}

.solver_identity{
    position: relative;
    /* background-color: #C1E3B5; */
    /* width: 10%; */
    border-radius: 10px;
}

.solver{
    font-weight: 600;
    padding: 0;
    margin-left: 5%;
    margin-top: 0;
}

.solver_designation{
    padding: 0;
    margin-left: 5%;   
    margin-top: -8px;
    font-size: smaller;
}

.qn_title{
    padding-top: 15px;
    font-weight: 700;
    
}

.qn_answering{
    margin: auto;
    padding: 0 0 6px 10px;
    font-weight: 600;
    text-align: left;
}

.answer{
    text-align: left;
    padding: 0 10px 0 10px;
}

.qn_topic{
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
.ans_title{
    font-weight: 700;
}
.add_comment_input{
    background-color: #d8ebd2;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 5px;
}
.report_qn{
    background-color: #d8ebd2;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 5px;
}

.likebutton{
    margin-left: 8px;
}

.likes,.report_qn_details{
    display: inline-block;
    margin-left: 20px;
}

.comment_details{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.comment_detail{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #edf6e3;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
}

.comment_wrapper{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.commenter, .comment_time{
    display: inline-block;
}
.commenter{
    font-weight: 700;
}
.comment_time{
    font-size: small;
    margin-left: 10px;
}


@media screen and (max-width:768px) { 
    .answer_img{
        margin-top: 0.4%;
        margin-left: 6%;
        width: 10%;
        float: right;
    }
    
    .solver_identity{
        margin-top: 1.5%;
        margin-left: 20%;
        background-color: #C1E3B5;
        width: 20%;
        border-radius: 10px;
    }
    
    .solver{
        font-weight: 600;
        padding: 0;
        margin-left: 5%;
        margin-top: 0;
    }
    
    .solver_designation{
        padding: 0;
        margin-left: 5%;   
        margin-top: -8px;
        font-size: smaller;
    }
    
    .qn_answering{
        padding-top: 15px;
        font-weight: 700;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .answer{
        margin-left: 2%;
        margin-right: 2%;
    }
}