
.recent_qn_wrapper{
    border: 2px solid #9fd092;
    background-color: #98b2b96b;
    border-radius: 15px;
    padding-left: 5px;
    margin-right: 2px;
    margin-bottom: 5px;

}
.recent_qn_title, .recent_qn_author, .solve_qn{
    text-align: center;
    margin-top: 8px;
}

.recent_qn_title{
    font-weight: 700;
}


.recent_qn_date{
    margin-left: 60%;
}

.recent_qn_author{
    margin-left: 10px;
    font-weight: 700;
}
